body {
    background-image: url("https://unsplash.it/g/1920/1080");
}

h2{
    text-align: center;
}

#aboutMe{
    text-align: center;
}

.row{
    display: inline-block;
    text-align: center;
}


