body {
    text-align: center;
    background-image: url("https://assets.rbl.ms/9865651/origin.jpg");
    background-position: center;
    background-size:cover;
    color: white;
}

a{
    color: white;
}