body{
    background-color: black; 
    background-image: url("http://aviewfrommyseat.com/wallpaper/rlehman-20170503185047.jpg"); 
    background-size: contain; 
    background-repeat: no-repeat; 
}


.myImage{
    max-width: 50%; 
 margin-left: auto; 
   margin-right: auto; 
}

.header{
    text-align: center; 
    font-size: bold; 
    text-shadow: 3px 2px white;
}

.years{
    
    color: gold; 
    text-orientation: center; 
    max-width: 70%; 
    border: solid 2px gold; 
    padding: 10px; 
    margin-left: auto; 
    margin-right: auto; 
    font-weight: bold; 
    margin-top: 70; 
   

}